 body{
 position: relative;
 }
 body::before{
    content: '';
   background-image: url("https://st3.depositphotos.com/7865540/13294/i/450/depositphotos_132944440-stock-photo-newsletter-concept-on-screen.jpg");
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.8;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
 }
 .div-cls{
    background-color: aliceblue;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 240px;
 }
 h1,h3 {
    display: block;
    text-align: center;
 }
 .inp-cls{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid gray;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 5px;
 }
 .btn-cls{
    border-radius: 5px;
    display: block;
    width: 310px;
    height: 35px;
    border: none;
    color: black;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(187, 194, 201, 0.619);
 }